# .github/workflows/develop.yml
name: deploy to staging server
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]
jobs:
  deploy:
    if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: pull code from github and rerun project on the server
        uses: appleboy/ssh-action@master
        with:
          host: ua-devs.com
          username: ${{ secrets.USER_NAME }}
          key: ${{ secrets.KEY }}
          script: |
            cd uadevs
            git checkout develop
            git pull 
            yarn
            yarn build
            pm2 restart uadevs
